<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id="app">
        <section v-if="!currentUser" id="signInAndSignUp">
            <div class="sign" >
                <div v-bind:class="{ active: isActive }"  @click="change('signUp')" >注册</div>
                <div v-bind:class="{ active: !isActive }" @click="change('signIn')"  >登入</div>
            </div>
            <div class="signUp">
                <form v-if="actionType=='signUp'" @submit.prevent=signUp>
                    <div class="formRow">
                        用户名
                        <input v-model="formData.username" type="text">
                    </div>
                    <div class="formRow">
                        密　码
                        <input v-model="formData.password" type="password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="注册">
                    </div>
                </form>
            </div>
            <div class="login">
                <form v-if="actionType=='signIn'" @submit.prevent=login>
                    <div class="formRow">
                        用户名
                        <input v-model="formData.username" type="text">
                    </div>
                    <div class="formRow">
                        密　码
                        <input v-model="formData.password" type="password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="登入">
                    </div>
                </form>
            </div>
        </section>

        <section id="todo" v-if="currentUser">
        
            <ol class="todos">
                <h1 class="title">{{title}}</h1>
                <div class="newTask">
                    <input class="input" type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="What do you have to do?">
                    <input type="submit" value="put in" @click="addTodo">
                </div>
                <li v-for="todo in todoList" class="list">
                    <label>
                        <input type="checkbox" v-model="todo.done">
                        <span>{{todo.title}}</span>
                    </label>
                    <span v-if='todo.done'>已完成</span>
                    <span v-else>未完成</span>
                    {{todo.date}}
                    <span v-on:click='removeTodo(todo)' class="button">X</span>
                </li>
                <div @click="logout"　class="getOut">退出登录</div>
            </ol>
        </section>
    </div>
 
    <script src="bundle.js"></script>
</body>

</html>